* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
}

button {
    cursor: pointer;
}

.container {
    max-width: 1264px;
    margin: 0 auto;
}
