@font-face {
    font-family: "Open Sans";
    src:
        local("Open Sans"),
        local("Open-Sans"),
        url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"),
        url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src:
        local("Montserrat"),
        url("../fonts/Montserrat/Montserrat-Italic.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src:
        local("Montserrat"),
        url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src:
        local("Montserrat"),
        url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src:
        local("Montserrat"),
        url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src:
        local("Montserrat"),
        url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
