:root {
    --light-aqua: #e3f5f5;
    --teal-primary: #03b2a5;
    --dark-gray: #333333;
    --gray-light: #eff2f2;
    --teal-medium: #35b3a9;
    --white: #fff;
    --blue: #2963a3;
    --turquoise: #16c8bb;
    --medium-gray: #9d9d9d;
    --border-gray: rgba(157, 157, 157, 0.3);
    --dark-gray-70: rgba(51, 51, 51, 0.7);
    --neutral-300: #c1c5cd;

    --font-family: "Montserrat", sans-serif;
    --second-family: "Open Sans", sans-serif;
}
