@media (max-width: 1024px) {
    .header__container {
        padding: 18px 18px 18px 20px;
    }

    .header__nav {
        display: none;
    }

    .header__button {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .breadcrumbs__container {
        padding: 18px 32px 40px 32px;
    }

    /* BLOG */

    .blog__container {
        padding: 0 33px;
    }

    .blog__posts {
        justify-content: center;
    }
}
