.blog__container {
    padding: 0 32px 96px 32px;
}

.blog__title {
    font-weight: 700;
    font-size: 48px;
    color: #333;
    margin-bottom: 32px;
}

.blog__filters {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
}

.blog__filter-button {
    border: 1px solid #c1c5cd;
    border-radius: 24px;
    padding: 6px 8px;
    font-size: 14px;
    color: #333;
}

.blog__posts {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: stretch;
    margin-bottom: 56px;
}

.blog__post-item {
    display: flex;
    flex-direction: column;
}

.blog__post-item:nth-child(1),
.blog__post-item:nth-child(2) {
    flex: 1 1 calc(50% - 24px);
    max-width: 588px;
}

.blog__post-item:nth-child(n+3) {
    flex: 1 1 calc(33.3% - 24px);
}

.blog__post-link {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.blog__post-wrapper {
    display: flex;
    position: relative;
}

.blog__post-image {
    display: block;
    width: 100%;
    border-radius: 16px 16px 0 0;

}

.blog__post-filters-group {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.blog__post-filters {
    border: 1px solid #c1c5cd;
    border-radius: 24px;
    padding: 6px 8px;
    background: rgba(255, 255, 255, 0.7);
    font-weight: 600;
    font-size: 14px;
    color: #333;
    max-width: max-content;
}

.blog__post-inner {
    border: 1px solid #dedede;
    border-radius: 0 0 16px 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
}

.blog__post-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 144%;
    color: #333;
}

.blog__post-author {
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #494949;
    margin-bottom: 4px;
}

.blog__post-description {
    font-size: 14px;
    line-height: 143%;
    color: #333;
    margin-bottom: 18px;
}


.blog__post-date {
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #868686;
    margin-top: auto;
}

.blog__button {
    padding: 12px 72.5px;
    display: block;
    margin: 0 auto;
}
