.blog {
    margin-bottom: 96px;
}

.blog__title {
    font-weight: 700;
    font-size: 48px;
    color: var(--dark-gray);
    margin-bottom: 35px;
}

.blog__sort-list {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
}

.blog__sort-button {
    border: 1px solid var(--neutral-300);
    border-radius: 24px;
    padding: 6px 8px;
    font-weight: 600;
    font-size: 14px;
    color: var(--dark-gray);
}

.blog__button-even {
    padding: 12px 72.5px;
    display: block;
    margin: 0 auto;
}

.blog__news-list {}

.blog__news-item {}

.blog__news-link {}

.blog__news-top {}

.blog__news-bottom {}

.blog__news-title {}

.blog__news-author {}

.blog__news-description {}

.blog__news-date {}
