.breadcrumbs {
    padding: 16px 32px 30px 32px;
}

.breadcrumbs__list {
    display: flex;
    gap: 8px;
    margin-left: 6px;
}

.breadcrumb__item {
    display: flex;
    align-items: center;
}

.breadcrumb__item::after {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 8px;
    background: url("../../icons/breadcrumbs/arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.breadcrumb__item:last-of-type::after {
    content: none;
}

.breadcrumb__link {
    font-size: 12px;
    letter-spacing: 0.02em;
    color: var(--dark-gray-70);
}
