.breadcrumbs__container {
    padding: 18px 38px 30px 38px;
}

.breadcrumbs__list {
    display: flex;
}

.breadcrumbs__item {
    display: flex;
}

.breadcrumbs__item::after {
    content: url("../../icons/arrow-right.svg");
    margin-left: 4px;
    margin-right: 8px;
}

.breadcrumbs__item:last-child::after {
    content: "";
}

.breadcrumbs__link {
    font-size: 12px;
    letter-spacing: 0.02em;
    color: rgba(51, 51, 51, 0.7);
}
