.footer {
    background: #2963a3;
}

.footer__container {
    padding: 40px 32px 24px 32px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.footer__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 93px;
}

.footer__menu-link {
    font-weight: 700;
    color: #fff;
}

.footer__form {
    max-width: 486px;
}

.footer__form-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 144%;
    color: #fff;
    margin-bottom: 8px;
    max-width: 356px;
}

.footer__form-inner {
    max-width: 384px;
    position: relative;
    margin-bottom: 8px;
}

.footer__form-input {
    border: 1px solid rgba(157, 157, 157, 0.2);
    border-radius: 4px;
    background: #fff;
    font-size: 14px;
    color: #9d9d9d;
    width: 100%;
    outline: none;
    padding: 14px 0 14px 16px;
}

.footer__form-button {
    border-radius: 4px;
    padding: 11px 20px;
    background: #16c8bb;
    position: absolute;
    right: 0;
}

.footer__form-submit {
    display: block;
}

.footer__form-text {
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 8px;
}

.footer__block-last_image {
    margin-bottom: 40px;
}

.footer__messagers {
    display: flex;
    gap: 16px;
}

.footer__botom {
    border-top: 1px solid rgba(157, 157, 157, 0.3);
    padding-top: 16px;
}

.footer__botom-list {
    display: flex;
    align-items: center;
    gap: 48px;
}

.footer__bottom-item {
    font-size: 14px;
    color: #fff;
    opacity: 0.7;
}
