.header {
    box-shadow: inset 0 -2px 0 0 #eff2f2;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 32px;
}

.header__logo-image {
    display: block;
    margin-right: 51px;
}

.header__nav {
    margin-right: auto;
}

.header__menu {
    display: flex;
    gap: 30px;
}

.header__menu-item {
    display: flex;
    gap: 8px;
}

.header__menu-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #333;
}

.header__menu-icon-arrow {
    margin-top: 2px;
}

.header__button {
    border-radius: 4px;
    padding: 15px 20px;
    background: #e3f5f5;
    font-weight: 700;
    color: #03b2a5;
}

.burger-menu {
    width: 40px;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: center;
}

.burger-menu__line {
    width: 18px;
    height: 1px;
    border-radius: 2px;
    background: #03b2a5;
    position: relative;
}

.burger-menu__line::after,
.burger-menu__line::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 1px;
    border-radius: 2px;
    left: 0;
    background: #03b2a5;
}

.burger-menu__line::after {
    top: 4px;
}

.burger-menu__line::before {
    top: -4px;
}
