.header {
    box-shadow: inset 0 -2px 0 0 var(--gray-light);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 32px;
}

.header__logo {
    margin-right: 51px;
}

.header__logo-image {
    display: block;
}

.header__menu {
    margin-right: auto;
}

.header__list {
    display: flex;
    gap: 30px;
}

.header__link {
    transition: color 0.5s ease;
}

@media (hover: hover) {
    .header__link:hover {
        color: var(--teal-medium);
    }
}

.header__link:active {
    color: var(--dark-gray);
}

.header__text {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--dark-gray);
}

.header__button-hidden {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    transition: color 0.5s ease;
}

.header__button-text {
    transition: color 0.5s ease;
}

@media (hover: hover) {

    .header__button-hidden:hover,
    .header__button-text:hover {
        color: var(--teal-medium);
    }
}

.header__hidden {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: var(--light-aqua);
    gap: 7px;
    width: 109px;
    margin-top: 5px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
}

.hidden {
    max-height: 100px;
    padding: 5px 5px;
}

.header__button {
    border-radius: 4px;
    padding: 15px 20px;
    background: var(--light-aqua);
    font-weight: 700;
    color: var(--teal-primary);
    transition: transform 0.5s ease, background 0.5s ease, color 0.5s ease;
}

@media (hover: hover) {
    .header__button:hover {
        transform: scale(1.05);
    }
}

.header__button:active {
    background: var(--teal-medium);
    color: var(--white);
}

.header__burger-menu {
    width: 40px;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header__burger-line {
    width: 18px;
    height: 2px;
    border-radius: 1px;
    background: var(--teal-primary);
    position: relative;
}

.header__burger-line::before,
.header__burger-line::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    border-radius: 1px;
    background: var(--teal-primary);
}

.header__burger-line::before {
    top: -5px;
}

.header__burger-line::after {
    top: 5px;
}
